<div>
    <ol class="flex justify-center gap-1 text-xs font-medium">
        <li>
            <a href="{% url 'book' letter='a' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              A
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='b' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              B
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='C' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              C
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='D' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              D
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='e' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              E
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='f' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              F
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='g' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              G
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='h' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              H
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='i' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              I
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='j' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              J
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='k' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              K
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='l' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              L
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='m' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              M
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='n' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              N
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='ñ' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              Ñ
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='o' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              O
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='p' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              P
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='q' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              Q
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='r' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              R
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='s' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              S
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='t' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              T
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='u' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              U
            </a>

          </li>
          <li>
            <a href="{% url 'book' letter='v' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              V
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='w' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              W
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='x' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              X
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='y' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              Y
            </a>
          </li>
          <li>
            <a href="{% url 'book' letter='z' %}" class="block size-8 rounded border border-gray-100 bg-white text-center leading-8 text-gray-900">
              Z
            </a>
          </li>
    
        
    </ol>

</div>